* {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.header {
  z-index: 25;
  background: linear-gradient(0deg, transparent 0%, rgba(0, 0, 0, 1) 100%);
  position: fixed;
  width: 100%;
  nav {
    display: flex;
    justify-content: space-around;
    padding: 10px 0 50px 0;
    .logo {
      img {
        width: 43.59px;
        height: 50px;
      }
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      gap: 24px;
      li {
        list-style: none;
        a {
          text-decoration: none;
          color: #c49833;
        }
        :hover {
          color: #d9d86f;
          transition: 0.2s;
        }
      }
    }
  }
}
.main-section {
  .video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    .video-text {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .gdu-logo-80-il {
        width: 205px;
        height: 200px;
      }
      .gdu-text {
        width: 400px;
      }
      .login {
        background-color: transparent;
        border: 1px solid #fff;
        color: #ffff98;
        padding: 8px 25px;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 2px;
        &:hover {
          transition: 0.5s;
          cursor: pointer;
          background-color: rgb(141, 128, 98, 0.7);
        }
      }
    }
  }
  .gdu-heyder-eliyev-text {
    background-color: #400000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
  }
}
.about-section {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    .search {
      display: flex;
      align-items: end;
      flex-direction: column;
      padding: 15px 0;
      p {
        padding: 15px 0;
      }
      input {
        width: 350px;
        padding: 9px 5px;
        color: #3b3b3b;
        border: 1px solid rgb(184, 177, 177);
        &:focus {
          outline: none;
        }
      }
    }
    .first-section {
      color: #3b3b3b;
      h2 {
        text-align: center;
        padding: 30px 0;
      }
      .history {
        display: flex;
        gap: 20px;
        img {
          height: 250px;
          width: 43%;
        }
        .text {
          width: 57%;
          position: relative;
          p {
            line-height: 25px;
            letter-spacing: 1px;
            font-weight: 300;
            font-size: 15px;
          }
          .learn-more {
            position: absolute;
            right: 0;
            background-color: transparent;
            border: 1px solid rgb(184, 177, 177);
            padding: 7px 18px;
            border-radius: 0px;
            margin: 20px 0;
            color: rgb(117, 115, 115);
            &:hover {
              cursor: pointer;
              transition: 0.3s;
              color: red;
              background-color: #e6e6e6;
            }
          }
        }
      }
    }
    .second-section {
      color: #3b3b3b;
      padding: 150px 0 100px 0;
      .rector-text {
        display: flex;
        gap: 20px;
        img {
          width: 43%;
        }
        .text {
          width: 57%;
          position: relative;
          h4 {
            text-align: center;
            padding-bottom: 25px;
          }
          p {
            line-height: 28px;
            letter-spacing: 1px;
            font-weight: 300;
            font-size: 15px;
          }
          span {
            font-weight: 700;
          }
        }
      }
    }
  }
}
.admission-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .admission {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: linear-gradient(
      0deg,
      rgba(171, 13, 13, 1) 0%,
      rgba(115, 1, 1, 1) 100%
    );
  }
  .faculties {
    margin: 50px 0;
    .row {
      display: flex;
      .faculty {
        position: relative;
        margin: 10px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img {
          width: 280px;
          height: 200px;
        }
        .text {
          position: absolute;
          top: 8%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid #700000;
            border-radius: 50%;
            width: 100px;
            height: 90px;
            text-align: center;
            i {
              font-size: 30px;
              color: #700000;
            }
          }
          .name {
            padding-top: 30px;
            color: #700000;
            font-size: 18px;
          }
        }
        .master {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          width: 280px;
          height: 200px;
          background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(228, 198, 157, 1) 100%
          );
        }
        .aesop {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(226, 247, 250, 1) 100%
          );
          width: 280px;
          height: 200px;
          .text {
            .icon {
              border: 2px solid #002669;
              img {
                width: 70px;
                height: 70px;
              }
            }
          }
        }
      }
    }
  }
}
.department-section {
  padding: 100px 0;
  background-image: url("./images/innov-bg2.png");
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    .photo {
      width: 46%;
      img {
        width: 100%;
      }
    }
    .text {
      width: 54%;
      position: relative;
      pre {
        color: #3b3b3b;
        line-height: 30px;
        letter-spacing: 1px;
        font-weight: 300;
        font-size: 15px;
      }
      .learn-more {
        position: absolute;
        right: 0;
        background-color: #fff;
        border: 1px solid rgb(184, 177, 177);
        padding: 7px 18px;
        border-radius: 0px;
        margin: 10px 0;
        color: #3b3b3b;
        &:hover {
          cursor: pointer;
          transition: 0.3s;
          color: red;
          background-color: #e6e6e6;
        }
      }
    }
  }
}
